{% extends 'base.html' %}
{% load static %}

{% block title %} Menu {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/counter.css' %}">
{% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    {% for menu in menus %}
    <div class="col-3 col-lg-3 mx-auto">
        <div class="card">
            <div class="embed-responsive embed-responsive-16by9">
                <img src="" alt="{{ menu.name }} Image" class="img-fluid embed-responsive-item">
            </div>
            <div class="card-body text-center">
                <div class="h5 card-title">{{ menu.name }}</div>
                <p class="card-text">{{ menu.price }}</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-text">
                        <div class="row mx-auto">
                            <button id="minus" class="btn btn-primary col-2 ml-auto minus">-</button>
                            <input type="text" value="1" class="form-control col-2" id="number{{ menu.pk }}">
                            <button id="plus" class="btn btn-primary col-2 mr-auto plus">+</button>
                        </div>
                    </div>
                    <p class="card-text mt-3">
                        <input type="text" class="form-control" placeholder="Total Extra Price">
                    </p>
                    <button class="btn btn-primary"> Add </button>
                </form>
<!--                p.card-text-->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/counter.js' %}"></script>
{% endblock %}
